/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/10/2019, 07:01:55 AM
    Author     : Adrián
*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../imagen/auditorio.png);
    background-size: cover;
}

/*Características del contenedor 1*/
#contenedor1{
    background: #f9f7f7;
    width: 460px;
    height: 370px;
    /*Centrando el contenedor 1*/
    margin: auto;
    /*Bajando contenedor 1*/
    margin-top: 100px;
    border: 3px solid #000;
}

#contenedor1 h1{
    text-align: center;
    padding-top: 20px;
    color: #1a2537;
    font-size: 40px;
}


/*Características del formulario 1*/
#formulario1{
    width: 100%;
    padding: 50px 20px 10px 20px;
    box-sizing: border-box;
}

#formulario1 input[type="text"], input[type="password"]{
    border: none;
    background: none;
    width: 90%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#formulario1 hr{
    margin-bottom: 40px;
    color: #aed6f1;
}

/*Características del botón*/
#formulario1 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: #1b4f72;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #ffffff;
    font-size: 25px;
    font-weight: 400;
}

/*Cuando se pose la manito sobre el botón*/
#formulario1 input[type="submit"]:hover{
    background: #3498db;
    color: #000;
}


/*Características del contenedor 2*/
#contenedor2{
    background: #f9f7f7;
    width: 460px;
    height: 140px;
    margin: auto;
    margin-top: 30px;
    border: 3px solid #000;
}

#formulario2{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
}

#formulario2 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}

#formulario2 input[type="submit"]:hover{
    background: #3498db;
    color: #ffffff;
}

#referencias{
    margin-left: 3px;
    margin-top: 14px;
}

#referencias a{
    padding-left: 6px;
    text-decoration: none;
    color: #1b4f72;
}

img{
    float: left;
}
