<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>servlets.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroUsuario</servlet-name>
        <servlet-class>servlets.ServletRegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioOrganizador</servlet-name>
        <servlet-class>servlets.ServletUsuarioOrganizador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReporteAsistencia</servlet-name>
        <servlet-class>servlets.ServletReporteAsistencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHistorialDeEventos</servlet-name>
        <servlet-class>servlets.ServletHistorialDeEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDetalleEvento</servlet-name>
        <servlet-class>servlets.ServletDetalleEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearEvento</servlet-name>
        <servlet-class>servlets.ServletCrearEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTerminarProyecto</servlet-name>
        <servlet-class>servlets.ServletTerminarProyecto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroUsuario</servlet-name>
        <url-pattern>/ServletRegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioOrganizador</servlet-name>
        <url-pattern>/ServletUsuarioOrganizador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReporteAsistencia</servlet-name>
        <url-pattern>/ServletReporteAsistencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHistorialDeEventos</servlet-name>
        <url-pattern>/ServletHistorialDeEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDetalleEvento</servlet-name>
        <url-pattern>/ServletDetalleEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearEvento</servlet-name>
        <url-pattern>/ServletCrearEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTerminarProyecto</servlet-name>
        <url-pattern>/ServletTerminarProyecto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
